* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
    text-decoration: none;
    color: inherit;
    list-style: none;
    /* border: 1px solid black; */
}

header {
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    position: sticky;
    top: 0;
    background-color: #f5f5f6;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    z-index: 999;
}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

header ul li {
    font-weight: 600;
}

.searchbox {
    width: 350px;
    height: 30px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    background: #f5f5f6;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

.searchbox input {
    width: 90%;
    height: 30px;
    border: none;
    background: transparent;
    outline: none;
    padding-left: 20px;
}

.searchbox i {
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.infobuttons {
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.container {
    width: 1320px;
    /* height: 500px; */
    margin: auto;
    box-shadow: 0px 0px 10px 4px #ccc;
    /* padding: 4px; */
    display: flex;
    overflow: hidden;
}

.item {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
}

.item img {
    width: 100%;
    object-fit: cover;
}

.btn-container {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    /* border: 1px solid red; */
}

/* From Uiverse.io by barisdogansutcu */ 
button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}


.two-images {
    width: 100%;
    margin-top: 20px;
}

.middlepart {
    width: 1320px;
    height: 344px;
    margin: auto;
    display: flex;
}

.middlepart img {
    width: 50%;
}

.three-images {
    width: 100%;
}

.middlepartthree {
    width: 1320px;
    margin: auto;
    display: flex;
}

.middlepartthree img {
    width: 100%;
}

.gifpart {
    width: 1320px;
    margin: auto;
    margin-top: 20px;
}

.gifpart img {
    width: 100%;
}

.pocket-image {
    width: 1320px;
    margin: auto;
    margin-top: 20px;
}

.pocket-image img {
    width: 100%;
}

.pocket-section {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.pocket-section img {
    width: 210px;
}

.spotlight-section {
    width: 1320px;
    margin: 20px auto;
}

.spotlight-section img {
    width: 100%;
}

.spotlight-down {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.spotlight-down img {
    width: 250px;
}

.catogory {
    width: 1320px;
    margin: 20px auto;
}

.catogory img {
    width: 100%;
}

.multiple-images {
    width: 1320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.multiple-images img {
    width: 200px;
}

.footer-section {

    width: 100%;
    background-color: #FAFBFC;
}

.footermid {
    width: 1320px;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.footerfirst {
    width: 200px;
    height: 100%;
}

.footersecond {
    width: 200px;
    height: 100%;
}

.footerthird {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footerflex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerfourth {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info-section {
    display: flex;
    gap: 20px;
}

.foorthdisplay {
    display: flex;
    margin-bottom: 20px;
}

.fixoffer {
    height: 44px;
    width: 288px;
    background-color: #535766;
    position: fixed;
    right: -122px;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 40%;
    transform: rotate(90deg);

}

.fixoffer h1 {
    color: white;
    text-align: center;
}

.fixoffer i {
    margin-left: 10px;
    color: white;
    font-weight: bold;
}

.filter-section {
    display: flex;
    align-items: center;

}

.dropdown {
    display: flex;
    gap: 20px;
    margin-left: 20%;

    justify-content: space-between;

}

.filter-section select {
    width: 260px;
    padding: 10px;
    margin-left: 35%;
}

.divided-div {
    display: flex;
    justify-content: space-between;
}

.leftdiv {
    width: 300px;
    border: 1px solid grey;

}

.rightdiv {
    width: 976px;
    border: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
}

.middledivbeauty {
    width: 1320px;
    margin: auto;
}

.card {
    margin: 1%;
    /* border: 1px solid green; */
    width: 218px;
    padding: 5px;
    height: fit-content;
}

.card img {
    width: 100%;
}

.content {
    padding: 10px;
}

.content p {
    font-size: 14px;
}

.middlediv-info {
    width: 1320px;
    margin: auto;
}

.divided-div-info {
    display: flex;
    /* border: 2px solid green; */
    margin-top: 30px;
}

.info-left {
    width: 660px;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.imagediv {
    width: 305px;
    height: 407px;
    margin: 0px 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
    overflow: hidden;
}

.imagediv img {
    width: 100%;
    transition: 1s;
    transform: scale(1);

}

.imagediv:hover .scale-image {
    transform: scale(1.1);
}

.info-right {
    width: 660px;
    padding: 10px;
}

.four-star {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    outline: 1px solid grey;
    display: flex;

    align-items: center;
    justify-content: space-around;
}

.four-star i {
    font-size: 10px;
    color: blue;
}

.four-star p {
    font-size: 10px;
    margin-right: 10px;
}

.four-star:hover {
    border: 1px solid black;
    cursor: pointer;
}

hr {
    margin-top: 10px;
}

.info-right p:nth-child(7) {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

.rupees-div {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0pc;
}

.three-tshirt {
    width: 200px;
    height: 80px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.three-tshirt img {
    width: 100%;
    margin: 1%;
}

.size-div {
    width: 200px;
    height: 30px;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.size-div i {
    font-size: 10px;
    color: red;
}

.multiple-size {
    width: 450px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.size-div-multiple {
    margin: 1%;
    width: 70px;
    height: 60px;
    border-radius: 50%;
    display: flex;

    justify-content: center;
    align-items: center;
    outline: 1px solid grey;
}

.size-div-multiple h5 {
    border: none;
}

.buttons-div {
    display: flex;
    width: 490px;
    margin-top: 20px;
    height: 50px;
    justify-content: space-between;
}

.buttons-div button:nth-child(1) {
    padding: 0px 70px;
    background-color: #FF3E6C;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.buttons-div button:nth-child(1) i {
    margin-right: 10px;
}

.buttons-div button:nth-child(2) {
    padding: 0px 50px;
    outline: 1px solid #ccc;
    text-transform: uppercase;
    display: flex;
    border: none;
    align-items: center;
    font-weight: bold;
}

.buttons-div button:nth-child(2) i {
    margin-right: 5px;
}

.buttons-div button:nth-child(2):hover {
    border: 1px solid black;
    cursor: pointer;
}

.info-right h4 {
    /* margin-top: 20px; */
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 15px;
}

.info-right input {
    width: 180px;
    margin: 10px 0px;
    padding: 10px;
}

.cliek-button {
    border: none;
    color: red;
    background: transparent;
}

.lastimages {
    display: flex;
}

.lastimages .card .content {
    padding: 0px;
}

.lastimages .card:hover {
    box-shadow: 0px 0px 10px 4px #ccc;
}